* {
	vertical-align: baseline;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}
body{
	width:1000px;
	margin:0 auto;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, #bottom h3{
	background-color: #FFAD33;
	padding: 7px;
}
h2{
	padding: 10px 8px;
}
#header  {
	height: 68px;
	/*background: url("..images/background.png")repeat-x;*/
}

#logo{
	width: 433px;

}
#call{
	width: 500px;
	padding-top: 10px;
	text-align: right;
	font-weight: bolder;
	font-size: 20px;
}
#nav{
	padding: 10px 0;
	background-color: #C1C1C1;
	width:960px;
	border-top: 1px solid #353535;
}
#navList li {
	display:inline;
	color: 	#353535;
	padding: 10px 11px;
	border-right: 1px solid #353535;
	font-size: 12px;
}
#navList a:link, #navList a:visited{
	color: 	#353535;
	text-decoration: none;
}
#mainRight{
	width:550px;
	background-color: #595959;
	margin-top: 5px;
	height:260px;
}
#mainRight p{
	color:white;
	font-size: 12px;
	padding: 10px;
}
#mainRight h1{
	padding: 10px;
}
#mainLeft{
	width:390px;
}
#main{
	background-color: black;
	width:960px;
}
#bottom{

	background-color: black;
	font-size: 8px;
	width: 960px;
}
#middle {
	background-color:black;
	width:960px;
	color:#FFB56C;
	font-size: 10px;
	padding: 2px 0;
}
#middle p{
	padding:10px;
	color:#FFB56C;
}
#logoSmall{
	display:inline-block;
}
.inlineBlock{
	display:inline-block;
	vertical-align: top;
}
.border{
	border: 3px, solid, white;
}
.white{
	color:white;
}
.box p {
	padding:2px;
}
.box{
	width:225px;
	height:200px;
	background-color:white;
	font-size:8px;
	display:inline-block;
	margin:5px;
	padding-bottom: 10px;
	vertical-align: top;

}
.arrow{
	background-color: yellow;
	padding:1px;
	border: solid  1px black;
	text-align: center;
	margin-left: 100px
}


